<!DOCTYPE html>
<html lang="en">

 	<head>
 		
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
 		<title>Trendyol</title>
 		<link rel="shortcut icon" href="https://cdn.dsmcdn.com/web/production/favicon.ico">
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		
		<script type="text/javascript" src="jquery.min.js"></script>
 	</head>
<body>

	<header>
		<div class="container">
			<div class="brand">
				<div class="logo">
					<a href="index.html">
						<img src="{{ url_for('static', filename='images/5952839.png') }}" alt="Image">
						<div class="logo-text">
							<p class="big-logo">Trendyol</p>
							
						</div>
					</a>
				</div> 
				<div class="shop-icon">
					<div class="dropdown">
						<img src="{{ url_for('static', filename='images/account.png') }}" alt="Image">
						<div class="dropdown-menu">
							<ul>
								<li><a href="index.html">Home</a></li>					
								<li><a href="/">Logout</a></li>
							</ul>
						</div>
					</div>
					<div class="dropdown">
						
						
					</div>
					
				</div> 
			</div> 

			
		</div> 
	</header> 

	<div class="container">
		<main>
		
			
			<div class="account-page">
				
				<div class="account-detail">
					
					<div class="billing-detail">					
						<form class="checkout-form">
							<div class="form-inline">
								<div class="form-group">
									<label>Seller ID</label>
									<input type="text" id="fname" name="fname">
								</div>
								<div class="form-group">
									<label>Seller Password</label>
									<input type="text" id="lname" name="lname" >
								</div>
							</div>
							<div class="form-group">
								<label>Company Name</label>
								<input type="text" id="cname" name="cname">
							</div>
							<div class="form-inline">
								<div class="form-group">
									<label>Email</label>
									<input type="text" id="email" name="email">
									
								</div>
								<div class="form-group">
									<label>Phone</label>
									<input type="text" id="tel" name="tel" minlength="11" maxlength="11">
								</div>
							</div>
							<div class="form-group">
								<label>Address</label>
								<textarea style="resize:none" id="address" name="address" rows="3"></textarea>
							</div>
							<div class="form-inline">					
								
								<div class="form-group">
									<label>Payment Info</label>
									<input type="text" id="payment" name="payment">
								</div>
							</div>
							<div class="form-group">
								<label></label>
								<input type="submit" id="update" name="update" value="Update">
							</div>
						</form>		
					</div>
				</div>				
			</div>		
		</main> 
	</div>

	<footer>
		<div class="container">
			<div class="footer-widget">
				
				
				
			</div> 
			<div class="footer-bar">
				<div class="copyright-text">
					<p>Copryright 2023 - Trendyol - Software Engineering</p>
				</div>
				
			</div> 
		</div>
	</footer> 

</body>

</html>